<div class="views-tushuxinxi-list">
  <div>
    <app-e-container>
      <div class="title-modelbox-widget1">
        <h3 class="section-title">图书信息</h3>
        <div class="sidebar-widget-body">
          <div class="form-search">
            <form
              nz-form
              [formGroup]="validateForm"
              [nzLayout]="'inline'"
              size="small"
            >
              <nz-form-item>
                <nz-form-label [nzMd]="8" [nzXs]="24" nzRequired nzFor="title"
                  >图书名称</nz-form-label
                >
                <nz-form-control [nzMd]="16" [nzXs]="24" [nzSm]="16">
                  <input nz-input formControlName="title" id="title" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <button
                  nz-button
                  type="primary"
                  (click)="searchSubmit()"
                  icon="el-icon-search"
                >
                  查询
                </button>
              </nz-form-item>
            </form>
          </div>

          <div nz-row>
            <div nz-col [nzSpan]="4">
              <nz-tree
                [nzData]="nodes"
                (nzClick)="nzEvent($event)"
                [nzExpandAll]="true"
              ></nz-tree>
            </div>

            <div nz-col [nzSpan]="20">
              <div nz-row [nzGutter]="30">
                <div
                  nz-col
                  [nzSpan]="6"
                  *ngFor="let r of lists"
                  :key="r.id"
                  style="margin-bottom: 20px"
                >
                  <article class="single_product v-module-xiezi">
                    <figure>
                      <div class="product_thumb" (click)="gotoDetail(r.id)">
                        <div class="label_product"></div>
                        <img
                          class="primary_img"
                          [src]="'http://localhost:8080' + r.cover"
                          pb="100"
                          :is-scale="true"
                        />
                      </div>
                      <figcaption class="product_content">
                        <h4 class="product_name">
                          <a href="javascript:;" (click)="gotoDetail(r.id)">
                            {{ r.name }}</a
                          >
                        </h4>
                        <div class="price_box">
                          <span class="current_price"
                            >借阅次数：{{ r.borrowCount }}</span
                          >
                        </div>
                        <div class="add_to_cart">
                          <a
                            href="javascript:;"
                            title="查看详情"
                            (click)="gotoDetail(r.id)"
                            >查看详情</a
                          >
                        </div>
                      </figcaption>
                    </figure>
                  </article>
                </div>
              </div>

              <div class="e-pages" style="margin-top: 10px; text-align: center">
                <nz-pagination
                  [nzPageIndex]="search.current"
                  [nzPageSize]="search.size"
                  (nzPageIndexChange)="loadList(1)"
                  (nzPageSizeChange)="sizeChange($event)"
                  nzShowSizeChanger
                  nzShowQuickJumper
                  [nzTotal]="totalCount"
                >
                </nz-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-e-container>
  </div>
</div>
