<app-carousel></app-carousel>
<br />
<br />
<app-e-container>
  <div class="title-modelbox-widget1">
    <h3 class="section-title">
      <div class="more">
        <a routerLink="/book-list">更多>></a>
      </div>
      热门图书
    </h3>
    <div class="sidebar-widget-body">
      <div nz-row>
        <div
          nz-col
          [nzSpan]="6"
          style="margin-bottom: 20px"
          *ngFor="let r of hotBooks"
        >
          <article class="single_product v-module-xiezi">
            <figure>
              <div class="product_thumb" (click)="goto('/book-info', r.id)">
                <div class="label_product"></div>
                <img
                  nz-image
                  class="primary_img"
                  [nzSrc]="'http://localhost:8080' + r.cover"
                  pb="100"
                />
              </div>
              <figcaption class="product_content">
                <h4 class="product_name">
                  <a href="javascript:;" (click)="goto('/book-info', r.id)">
                    {{ r.name }}</a
                  >
                </h4>
                <div class="price_box">
                  <span class="current_price" *ngIf="r.borrowCount !== null"
                    >借阅次数：{{ r.borrowCount }}</span
                  >
                </div>
                <div class="add_to_cart">
                  <a
                    href="javascript:;"
                    title="查看详情"
                    (click)="goto('/book-info', r.id)"
                    >查看详情</a
                  >
                </div>
              </figcaption>
            </figure>
          </article>
        </div>
      </div>
    </div>
    <!-- /.sidebar-widget-body -->
  </div>
</app-e-container>

<app-e-container>
  <div class="title-modelbox-widget1">
    <h3 class="section-title">
      <div class="more">
        <a routerLink="/book-list">更多>></a>
      </div>
      推荐图书
    </h3>
    <div class="sidebar-widget-body">
      <div class="floor_goods_wrap clearfix">
        <div nz-row>
          <div
            nz-col
            *ngFor="let r of tushuxinxilist1"
            nz-col
            nzMd="6"
            :key="r.id"
          >
            <div class="floor_goods_wrap_li">
              <div class="floor_goods_wrap_b">
                <a
                  href="javascript:;"
                  (click)="goto('/book-info', r.id)"
                  class="floor_goods_img"
                >
                  <img
                    nz-image
                    [nzSrc]="'http://localhost:8080' + r.cover"
                    pb="100"
                  />
                </a>
                <a
                  href="javascript:;"
                  (click)="goto('/book-info', r.id)"
                  class="floor_goods_tit"
                >
                  {{ r.name | slice : 0 : 20 }}
                </a>
                <a
                  href="javascript:;"
                  (click)="goto('/book-info', r.id)"
                  class="floor_goods_txt"
                >
                  {{ r.description | slice : 0 : 20 }}
                </a>
                <a
                  href="javascript:;"
                  (click)="goto('/book-info', r.id)"
                  class="floor_goods_price"
                >
                  借阅次数：{{ r.borrowCount }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.sidebar-widget-body -->
  </div>
</app-e-container>

<app-e-container>
  <div class="title-modelbox-widget1">
    <h3 class="section-title">
      <div class="more">
        <a routerLink="/note-list">更多>></a>
      </div>
      公告栏
    </h3>
    <div class="sidebar-widget-body">
      <div class="hot-class">
        <div class="listBoxs news-styles2">
          <!-- 咨询容器开始 -->
          <div class="p_news">
            <ng-container *ngFor="let r of gonggaoxinxilist; let i = index">
              <div class="list">
                <a [routerLink]="'/note-info'" [queryParams]="{ id: r.id }">
                  <div class="cotentBox">
                    <!-- 时间结束 -->
                    <!-- 标题概述开始 -->
                    <div class="listCotentBox">
                      <!-- 标题开始 -->
                      <div class="titleBox">
                        <a href="javascript:;" class="titleLink">
                          <h5 class="titleh5">{{ r.title }}</h5>
                        </a>
                      </div>
                      <div class="newToolBox hidden-style1">
                        <i class="fa fa-clock-o"></i>
                        发布时间：{{ r.createTime }}
                      </div>
                      <!-- 标题结束 -->
                      <!-- 概要开始 -->
                      <!-- 概要结束 -->
                    </div>
                    <!-- 标题概述结束 -->
                  </div>
                </a>
              </div>
            </ng-container>
          </div>
          <!-- 咨询容器结束 -->
        </div>
      </div>
    </div>
    <!-- /.sidebar-widget-body -->
  </div>
</app-e-container>
