<div class="views-gongzuorenyuan-list">
  <div>
    <nz-card class="box-card" [nzTitle]="'评论查询'">
      <div class="">
        <nz-space nzAlign="center">
          <span *nzSpaceItem>书籍</span>
          <input
            *nzSpaceItem
            nz-input
            [(ngModel)]="search.bookId"
            placeholder="输入书籍ID"
          />
          <button
            *nzSpaceItem
            nz-button
            nz-type="primary"
            icon="el-icon-search"
            (click)="searchSubmit()"
          >
            查询
          </button>
        </nz-space>
      </div>
      <br />
      <div>
        <!-- <button nz-button nzType="primary" (click)="addItem()">新增</button> -->
      </div>
      <br />
      <nz-table #basicTable [nzShowPagination]="false" [nzData]="lists">
        <thead>
          <tr>
            <th>id</th>
            <th>用户id</th>
            <th>用户名</th>
            <th>图书id</th>
            <th>内容</th>
            <th>评分</th>
            <th>状态</th>
            <th>发布时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data?.id }}</td>
            <td>{{ data?.userId }}</td>
            <td>{{ data?.username }}</td>
            <td>{{ data?.bookId }}</td>
            <td>{{ data?.content }}</td>
            <td>{{ data?.star }}</td>
            <td>{{ statusMap[data?.status] }}</td>
            <td>{{ data?.createTime | date : "yyyy-MM-dd HH:mm:ss" }}</td>
            <td>
              <nz-space>
                <ng-container *ngIf="data?.status === 0">
                  <a
                    *nzSpaceItem
                    nz-popconfirm
                    nzPopconfirmTitle="确认审核通过吗？"
                    nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="auditItem(data.id, 1)"
                    >审核通过</a
                  >
                </ng-container>
                <ng-container *ngIf="data?.status === 0">
                  <a
                    style="color: red"
                    *nzSpaceItem
                    nz-popconfirm
                    nzPopconfirmTitle="确认审核拒绝吗？"
                    nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="auditItem(data.id, 2)"
                    >审核拒绝</a
                  >
                </ng-container>
              </nz-space>
            </td>
          </tr>
        </tbody>
      </nz-table>

      <div class="e-pages" style="margin-top: 10px; text-align: center">
        <nz-pagination
          [nzPageIndex]="search.current"
          [nzPageSize]="search.size"
          (nzPageIndexChange)="sizeChange($event)"
          [nzTotal]="totalCount"
        >
        </nz-pagination>
      </div>
    </nz-card>
  </div>
</div>
