<div class="views-gongzuorenyuan-list">
  <div>
    <nz-card class="box-card" [nzTitle]="'人员查询'">
      <div class="">
        <nz-space nzAlign="center">
          <span *nzSpaceItem>用户名</span>
          <input
            *nzSpaceItem
            nz-input
            [(ngModel)]="search.username"
            id="username"
          />
          <button
            *nzSpaceItem
            nz-button
            nz-type="primary"
            icon="el-icon-search"
            (click)="searchSubmit()"
          >
            查询
          </button>
        </nz-space>
      </div>
      <br />
      <div>
        <button nz-button nzType="primary" (click)="addUser()">新增</button>
      </div>
      <br />
      <nz-table #basicTable  [nzShowPagination]="false"  [nzData]="lists">
        <thead>
          <tr>
            <th>姓名</th>
            <th>真实姓名</th>
            <th>联系电话</th>
            <th>邮箱</th>
            <th>头像</th>
            <th>失信次数</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data?.username }}</td>
            <td>{{ data?.realName }}</td>
            <td>{{ data?.phone }}</td>
            <td>{{ data?.email }}</td>
            <td>{{ data?.avatar }}</td>
            <td>{{ data?.creditScore }}</td>
            <td>
              <nz-space>
                <a *nzSpaceItem (click)="editUser(data)">编辑</a>
                <a
                  *nzSpaceItem
                  style="color: red"
                  nz-popconfirm
                  nzPopconfirmTitle="确定删除吗？"
                  nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="deleteUser(data.id)"
                  >删除</a
                >
              </nz-space>
            </td>
          </tr>
        </tbody>
      </nz-table>

      <div class="e-pages" style="margin-top: 10px; text-align: center">
        <nz-pagination
          [nzPageIndex]="search.current"
          [nzPageSize]="search.size"
          (nzPageIndexChange)="sizeChange($event)"
          [nzTotal]="totalCount"
        >
        </nz-pagination>
      </div>
    </nz-card>
  </div>
</div>
