<div class="views-yonghu-web-add">
  <div>
    <nz-card class="box-card" [nzTitle]="id ? '图书编辑' : '图书新增'">
      <!-- <template #header>
          <div class="clearfix">
            <span class="title"> 读者用户注册 </span>
          </div>
        </template> -->

      <form
        nz-form
        [formGroup]="validateForm"
        nzLabelCol="140px"
        status-icon
        validate-on-rule-change
        (ngSubmit)="submit()"
      >
        <nz-form-item>
          <nz-form-label nzRequired>书名</nz-form-label>
          <nz-form-control nzErrorTip="请填写书名">
            <input nz-input formControlName="name" placeholder="输入书名" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="!id">
          <nz-form-label nzRequired>ISBN</nz-form-label>
          <nz-form-control nzErrorTip="请填写ISBN">
            <input
              nz-input
              formControlName="isbn"
              type="password"
              placeholder="输入ISBN"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired>作者</nz-form-label>
          <nz-form-control nzErrorTip="请填写作者">
            <input
              nz-input
              formControlName="author"
              type="text"
              placeholder="输入作者"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired>分类</nz-form-label>
          <nz-form-control nzErrorTip="请选择分类">
            <nz-select formControlName="category" nzPlaceHolder="请选择分类">
              <nz-option nzValue="0" nzLabel="小说"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired>库存</nz-form-label>
          <nz-form-control nzErrorTip="请填写库存">
            <input
              nz-input
              formControlName="stock"
              type="text"
              placeholder="输入库存"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired>总库存</nz-form-label>
          <nz-form-control nzErrorTip="请填写总库存">
            <input
              nz-input
              formControlName="totalStock"
              type="text"
              placeholder="输入总库存"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>出版社</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              formControlName="publisher"
              type="text"
              placeholder="输入出版社"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>出版日期</nz-form-label>
          <nz-form-control>
            <nz-date-picker
              nzMode="date"
              formControlName="publishDate"
              placeholder="输入出版日期"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>价格</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              formControlName="price"
              type="text"
              placeholder="输入价格"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>状态</nz-form-label>
          <nz-form-control>
            <nz-radio-group formControlName="status">
              <label nz-radio nzValue="0">上架</label>
              <label nz-radio nzValue="1">下架</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>图书简介</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              formControlName="description"
              type="text"
              placeholder="输入描述"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>封面</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              formControlName="description"
              type="text"
              placeholder="输入描述"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>封面</nz-form-label>
          <nz-form-control>
            <nz-upload
              nzAction="http://localhost:8080/bapi/file/upload"
              [nzHeaders]="{ authorization: 'Bearer ' + this.token }"
              (nzChange)="handleChange($event)"
              [nzShowUploadList]="false"
            >
              <img
                *ngIf="this.validateForm.get('cover')?.value"
                [src]="
                  this.validateForm.get('cover')?.value
                    ? 'http://localhost:8080' +
                      this.validateForm.get('cover')?.value
                    : ''
                "
                style="width: 120px; height: 120px"
              />
              <button
                nz-button
                nzType="primary"
                (click)="setDefaultAvatar($event)"
              >
                <span nz-icon nzType="upload"></span>
                上传封面
              </button>
            </nz-upload>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <button nz-button nzType="primary">提交</button>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
</div>
