<div
  class="main-header"
  [ngClass]="{ 'main-header-fixed': isFixMenuDesktop, hover: isHover }"
  style=""
>
  <div class="header-top">
    <div class="auto-1400 clearfix">
      <div class="top-left fl">智能图书馆系统</div>
      <div class="top-right fr">
        <ul>
          <li>欢迎访问智能图书馆系统</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="" ref="desktop">
    <div class="main-box ms300">
      <div class="auto-1400">
        <div class="logo-box fl">
          <div class="logo">
            <a style="color: #cc0000" href="javascript:;" title="">
              知识的星辰大海，等你来遨游。
              <!--<img height="65" src="@assets/images/logo.png">-->
            </a>
          </div>
        </div>
        <div class="fl adTxt"></div>
        <nav class="main-menu ms300 fl">
          <div class="mobile mobile-close" (click)="hideMenu()">
            <i class="fa fa-close"></i>
          </div>
          <ul class="navigation">
            <li [ngClass]="{ 'active-menu': isFullPathActive('/') }">
              <a routerLink="/">首页</a>
            </li>

            <li
              [ngClass]="{
                'active-menu': isFullPathActive('/book-list')
              }"
            >
              <a routerLink="/book-list">图书信息</a>
            </li>
            <li
              [ngClass]="{
                'active-menu': isFullPathActive('/note-list')
              }"
            >
              <a routerLink="/note-list">公告信息</a>
            </li>
            <template v-if="$session.cx == '用户'">
              <li
                [ngClass]="{
                  'active-menu': isFullPathActive('/user-edit')
                }"
              >
                <a routerLink="/user-edit">问题反馈</a>
              </li>
            </template>

            <li
              [ngClass]="{
                'active-menu': isFullPathActive('/user-edit')
              }"
            >
              <a routerLink="/user-edit">读者注册</a>
            </li>
            <li [ngClass]="{ 'active-menu': isFullPathActive('/login') }">
              <a routerLink="/login">登录</a>
            </li>
          </ul>
        </nav>
        <div class="nav-toggler">
          <button class="hidden-bar-opener">
            <span class="aicf"><img src="/assets/images/nav-cd.png" /></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile mobile-mask" (click)="hideMenu()"></div>
</div>
