<div
  class="main-header"
  [ngClass]="{ 'main-header-fixed': isFixMenuDesktop, hover: isHover }"
  style=""
>
  <div class="header-top">
    <div class="auto-1400 clearfix">
      <div class="top-left fl">智能图书馆系统</div>
      <div class="top-right fr">
        <ul>
          <li>欢迎访问智能图书馆系统</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="" ref="desktop">
    <div class="main-box ms300">
      <div class="auto-1400">
        <div class="logo-box fl">
          <div class="logo">
            <a style="color: #cc0000" href="javascript:;" title="">
              知识的星辰大海，等你来遨游。
              <!--<img height="65" src="@assets/images/logo.png">-->
            </a>
          </div>
        </div>
        <div class="fl adTxt"></div>
        <nav class="main-menu ms300 fl">
          <div class="mobile mobile-close" (click)="hideMenu()">
            <i class="fa fa-close"></i>
          </div>
          <ul class="navigation">
            <li [ngClass]="{ 'active-menu': isFullPathActive('/index') }">
              <a routerLink="/welcome">首页</a>
              <!-- <router-link :to="'/index'" title="首页"> 首页 </router-link> -->
            </li>

            <li
              [ngClass]="{
                'active-menu': isFullPathActive({ path: '/book-list' })
              }"
            >
              <a routerLink="/book-list">图书信息</a>
              <!-- <router-link :to="{path:'/tushuxinxi'}" title="图书信息">
                图书信息
              </router-link> -->
            </li>
            <li
              [ngClass]="{
                'active-menu': isFullPathActive({ path: '/gonggaoxinxi' })
              }"
            >
              <a routerLink="/note-list">公告信息</a>
              <!-- <router-link :to="{path:'/gonggaoxinxi'}" title="公告信息">
                公告信息
              </router-link> -->
            </li>
            <template v-if="$session.cx == '用户'">
              <li
                [ngClass]="{
                  'active-menu': isFullPathActive({ path: '/wentifankui/add' })
                }"
              >
                <a routerLink="/wentifankui/add">问题反馈</a>
                <!-- <router-link :to="{path:'/wentifankui/add'}" title="问题反馈">
                  问题反馈
                </router-link> -->
              </li>
            </template>

            <li
              [ngClass]="{
                'active-menu': isFullPathActive({ path: '/user-edit' })
              }"
            >
              <a routerLink="/user-edit">读者注册</a>
              <!-- <router-link :to="{path:'/yonghu/add'}" title="读者注册">
                读者注册
              </router-link> -->
            </li>
            <li [ngClass]="{ 'active-menu': isFullPathActive('/login') }">
              <a routerLink="/login">后台管理</a>
              <!-- <router-link :to="'/login'" title="后台管理">
                后台管理
              </router-link> -->
            </li>
          </ul>
        </nav>
        <div class="nav-toggler">
          <button class="hidden-bar-opener">
            <span class="aicf"><img src="/assets/images/nav-cd.png" /></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile mobile-mask" (click)="hideMenu()"></div>
</div>
