<div class="views-yonghu-web-add">
  <div>
    <!-- [nzTitle]="id ? '图书类别编辑' : '图书类别新增'" -->
    <nz-card class="box-card">
      <form
        nz-form
        [formGroup]="validateForm"
        nzLabelCol="140px"
        status-icon
        validate-on-rule-change
        (ngSubmit)="submit()"
      >
        <nz-form-item>
          <nz-form-label nzRequired>分类名称</nz-form-label>
          <nz-form-control nzErrorTip="请填写分类名称">
            <input nz-input formControlName="name" placeholder="输入分类名称" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired>分类编码</nz-form-label>
          <nz-form-control nzErrorTip="请填写分类编码">
            <input nz-input formControlName="code" placeholder="输入分类编码" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>父分类ID</nz-form-label>
          <nz-form-control>
            <nz-select
              formControlName="parentId"
              nzPlaceHolder="请选择父分类ID"
            >
              <nz-option
                *ngFor="let item of categoryList"
                [nzValue]="item.code"
                [nzLabel]="item.name"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <button nz-button nzType="primary">提交</button>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
</div>
