<div class="views-gongzuorenyuan-list">
  <div>
    <nz-card class="box-card" [nzTitle]="'图书查询'">
      <div class="">
        <nz-space nzAlign="center">
          <span *nzSpaceItem>书名</span>
          <input
            *nzSpaceItem
            nz-input
            [(ngModel)]="search.name"
          />
          <button
            *nzSpaceItem
            nz-button
            nz-type="primary"
            icon="el-icon-search"
            (click)="searchSubmit()"
          >
            查询
          </button>
        </nz-space>
      </div>
      <br />
      <div>
        <button nz-button nzType="primary" (click)="addItem()">新增</button>
      </div>
      <br />
      <nz-table #basicTable [nzData]="lists">
        <thead>
          <tr>
            <th>封面</th>
            <th>书名</th>
            <th>分类</th>
            <th>作者</th>
            <th>出版社</th>
            <th>出版日期</th>
            <th>库存</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>
              <img
                [src]="'http://localhost:8080' + data?.cover"
                alt="封面"
                style="width: 100px; height: 100px"
              />
            </td>
            <td>{{ data?.name }}</td>
            <td>{{ data?.category }}</td>
            <td>{{ data?.author }}</td>
            <td>{{ data?.publisher }}</td>
            <td>{{ data?.publishDate }}</td>
            <td>{{ data?.stock }}</td>
            <td>{{ data?.status == 0 ? '上架中' : '已下架' }}</td>
            <td>
              <nz-space>
                <a *nzSpaceItem (click)="editItem(data)">编辑</a>
                <a
                  *nzSpaceItem
                  style="color: red"
                  nz-popconfirm
                  nzPopconfirmTitle="确定删除吗？"
                  nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="deleteItem(data.id)"
                  >删除</a
                >
              </nz-space>
            </td>
          </tr>
        </tbody>
      </nz-table>

      <div class="e-pages" style="margin-top: 10px; text-align: center">
        <nz-pagination
          [nzPageIndex]="search.current"
          [nzPageSize]="search.size"
          (nzPageIndexChange)="sizeChange($event)"
          [nzTotal]="totalCount"
        >
        </nz-pagination>
      </div>
    </nz-card>
  </div>
</div>
