<div class="views-gongzuorenyuan-list">
  <div>
    <nz-card class="box-card" [nzTitle]="'公告信息查询'">
      <div class="">
        <nz-space nzAlign="center">
          <span *nzSpaceItem>标题</span>
          <input
            *nzSpaceItem
            nz-input
            [(ngModel)]="search.title"
            placeholder="输入标题"
          />
          <button
            *nzSpaceItem
            nz-button
            nz-type="primary"
            icon="el-icon-search"
            (click)="searchSubmit()"
          >
            查询
          </button>
        </nz-space>
      </div>
      <br />
      <div>
        <button nz-button nzType="primary" (click)="addItem()">新增</button>
      </div>
      <br />
      <nz-table #basicTable [nzShowPagination]="false" [nzData]="lists">
        <thead>
          <tr>
            <th>id</th>
            <th>标题</th>
            <th>内容</th>
            <th>发布时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data?.id }}</td>
            <td>{{ data?.title }}</td>
            <td>{{ data?.content }}</td>
            <td>{{ data?.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>
              <nz-space>
                <a *nzSpaceItem (click)="editItem(data)">编辑</a>
                <a
                  *nzSpaceItem
                  style="color: red"
                  nz-popconfirm
                  nzPopconfirmTitle="确定删除吗？"
                  nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="deleteItem(data.id)"
                  >删除</a
                >
              </nz-space>
            </td>
          </tr>
        </tbody>
      </nz-table>

      <div class="e-pages" style="margin-top: 10px; text-align: center">
        <nz-pagination
          [nzPageIndex]="search.current"
          [nzPageSize]="search.size"
          (nzPageIndexChange)="sizeChange($event)"
          [nzTotal]="totalCount"
        >
        </nz-pagination>
      </div>
    </nz-card>
  </div>
</div>
